.page-footer {
    width: 100%;
    height: 2rem;
    text-align: center;
    
    .footer-text {
        color: $secondary-color;
        margin-top: 0.5rem;
    }   
}

@media (max-width: 576px) and (orientation: portrait) {
    .page-footer {
        font-size: 0.8rem;
    }
}