.page-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #E7E9ED;
    background: rgba(255, 255, 255, 0.51);
    backdrop-filter: blur(13px);

    .header-logo {
        font-weight: 600;
        margin: 1rem 1rem 1rem;

        .logo-text {
            color: $primary-color;
        }

        .logo-suffix {
            color: $accent-color;
        }
    }

    .buttons {
        margin: 1rem 2rem;

        .login-button {
            margin: 0 1.5rem;
            background-color: $accent-color;
            border: none;
            border-radius: 1.25rem;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.5rem 1.5rem;

            a {
                color: white;
            }
        }

        .signup-button {
            background-color: transparent;
            border: 3px solid $accent-color;
            border-radius: 1.25rem;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.4rem 1.25rem;

            a {
                color: $accent-color;
            }
        }
    }
}