.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #E7E9ED;
    background: rgba(255, 255, 255, 0.51);
    backdrop-filter: blur(13px);

    .header-logo {
        font-weight: 600;

        .logo-text {
            color: $primary-color;
        }

        .logo-suffix {
            color: $accent-color;
        }
    }
}