@mixin gradient-text-color {
    background: linear-gradient(to right, #d322c0 0%, #6114ed 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.template-template2 {
    width: 595px;
    height: 842px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    background: white;
    color: black;
    box-sizing: border-box;
    padding: 1rem;
    transform-origin: center center;

    .top-section {
        border-radius: 0.5rem;
        padding: 1.25rem;
        display: flex;
        justify-content: space-between;
        height: 8rem;

        .photo {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            object-fit: cover;
            margin: 0.5rem 0;
        }

        .title {
            color: black;
            margin: 1rem 0 0 5rem;
            font-size: 1.5rem;
            width: 12.5rem;
            font-weight: 400;
            align-items: center;
        }

        .details {
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin: auto 0;
            color: rgb(102, 102, 102);
            font-weight: 600;
            font-size: 0.8rem;
            gap: 0.5rem;
            background-color: #d6d6d6;
            border-radius: 1rem;
            padding: 1rem;
        }
    }

    .sections-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;

        .section {
            padding: 0.5rem;

            .section-title {
                @include gradient-text-color();
                width: fit-content;
                margin: 0.5rem 0 0.5rem 0;
                font-size: 1.2rem;
                border-bottom: 2px solid #6114ed;
                font-weight: 600;
            }
        }

        .certification-section {
            .section-data {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        .skills-section {
            .section-title {
                margin-bottom: 2rem;
            }
        }
    }
}