@import './reset.scss';
@import './header.scss';
@import './footer.scss';

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        .sign-in-form-wrapper {
            border-radius: 2rem;
            box-shadow: 0px 14px 50px -4px rgba(42,131,254,0.19);
            text-align: center;
            padding: 4rem;

            .form-title {
                margin-bottom: 4rem;
                font-size: 3rem;
            }

            .no-account-link {
                font-size: 1.2rem;
                color: $secondary-color;

                .sign-up-button {
                    color: $accent-color;
                }
            }
        }
    }
}
